.nike-bg-color{
    background-color: rgba(255, 249, 244, 1);
}

.nike-text-color{
    color: #FA804C;
}
.nike-card-bg-color{
    background: white;
}

.nike-img-bg-color{
    background: rgb(180, 178, 178);

}
/* card body text color */
.card-header-text-color{
    color: #FA804C;
    
}